:root {
    --primary-color: #d97706; 
    --primary-hover: #b45309;
    --text-color: #5f5749;
    --bg-color: #fcd2d2;
    --card-border: #cacaca;
    --font-main: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: #ffffff;
    line-height: 1.5;
    
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*  кнопки */
button, .btn {
    font-family: var(--font-main);
    cursor: pointer;
    transition: background-color 0.1s ease;
}

/* FLEXBOX */
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 1rem 5%;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.nav-list {
    display: flex;
    gap: 2rem;                      
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    transition: color 0.2s;
}

.nav-list a:hover {
    color: var(--primary-color);
}

.btn-cart {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
}

.btn-cart:hover {
    background-color: var(--primary-color);
    color: white;
}

/* КОНТЕНТ */
.main-content {
    flex-grow: 1; 
    padding: 2rem 5%;
}

.catalog h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

/* FLEXBOX  */
.products-grid {
    display: flex;
    flex-wrap: wrap;      
    gap: 30px;            
    justify-content: center; 
}

/* FLEXBOX COLUMN */
.product-card {
    display: flex;
    flex-direction: column; 
    width: calc(50% - 15px); 
    min-width: 260px;       
    background-color: var(--bg-color);
    border: 1px solid var(--card-border);
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.product-img {
    width: 100%;
    height: 400px;
    object-fit: cover; 
    border-radius: 30px;
    margin-bottom: 15px;
}

.product-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-desc {
    font-size: 0.9rem;
    color: #4b5563;
    margin-bottom: 15px;
}

.product-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 15px;
}

.btn-buy {
    margin-top: auto;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
}

.btn-buy:hover {
    background-color: var(--primary-hover);
}

/* ФУТЕР */
.footer {
    background-color: var(--text-color);
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}